<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <style>
            body {
                direction: rtl;
                font-family: 'Roboto', sans-serif;
                font-size: 12px;
            }
            .container {
                width: calc(100% - 100px);
                max-width: 1200px;
                margin: auto;
                text-align: center;
            }
            .header-wrapper {
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-justify-content: space-around;
                -ms-justify-content: space-around;
                justify-content: space-around;
            }
            .value {
                font-weight: normal;
            }
            table {
                border-collapse: collapse;
                width: 100%;
                margin-top: 2em;
            }
            table, th, td {
                border: 1px solid black;
                padding: 4px;
            }
            th {
                background-color: #727fc9;
                font-size: 1.25rem;
                color: white;
            }
            .student-name {
                min-width: 75px;
            }
            .empty_cell {
                width: 75px;
            }
        </style>
    </head>
    <body>
        <%- include('header', { title: 'יומן נוכחות' }); %>
        <div class="container">
            <div class="header-wrapper">
                <% if (group.klass) { %>
                    <h2>כיתה: 
                        <span class="value"><%= group.klass.name %></span>
                    </h2>
                <% } %>
                <% if (group.teacher) { %>
                    <h2>מורה: 
                        <span class="value"><%= group.teacher.name %></span>
                    </h2>
                <% } %>
                <% if (group.lesson) { %>
                    <h2>שיעור: 
                        <span class="value"><%= group.lesson.name %></span>
                    </h2>
                <% } %>
            </div>

            <table>
            <% if (students.length > 0) { %>
                <tr>
                    <th> </th>
                    <th>שם</th>
                    <% for(var i = 0; i < group.lesson_count; i++) {%>
                        <th class="empty_cell">&nbsp;</th>
                    <% } %>
                </tr>
                <% students.forEach((student, index) => {%>
                    <tr>
                        <td><%= index + 1 %></td>
                        <td class="student-name"><%= student.name %></td>
                        <% for(var i = 0; i < group.lesson_count; i++) {%>
                            <td class="empty_cell">&nbsp;</td>
                        <% } %>
                    </tr>
                <%  });%>
            <% }%>
            </table>
        </div>
    </body>
</html>
